* {
  font-family: 'Inknut Antiqua';
}

body {
  background-image: url('photo_5839106789256315205_y');
  text-align: center;
  margin: 200px;
  padding: 50px;
  border: 3px solid darkred;
  border-radius: 40px;
}

h1, 
h6 {
  color: darkred;
}

p {
  text-decoration: underline overline darkred;
  line-height: 10px;
}

